db/
incremental_db/
output_files/
greybox_tmp/
hc_output/
timing/
.qsys_edit/

# ModelSim/Questa
simulation/
work/
transcript
vsim.wlf
*.wlf
modelsim.ini

*.sof
*.pof
*.jic
*.rbf
*.rpd
*.jam
*.jbc
*.svf
*.ttf

*.rpt
*.summary
*.smsg
*.jdi
*.pin
*.done
*.qws
*.qarlog

*.bak
*.orig
*.qdf
*.cmp.*
PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt

software/*/obj/
software/*/*.elf
software/*/*.objdump
software/*/*.map
*_bsp/
